body {
    background-image: url("../image/406033.jpg");
}

.flashy {
    color: red;
    font-style: italic;
    text-align: center;
}

.menu {
    color: blue;
    font-family: sans-serif;
    color: white;
}

.header {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: yellow;
}
